Header {color:black;
        text-align:center;}
.h4 {color:grey;
text-align:center;
font-style:italic;}
.body {background-image: url(Golden.jpg);
    background-size: 100%, cover;
background-repeat: no-repeat;
background-position: fixed;}
