html, body {margin: auto;
background-image: 20180906_170505.jpg;
background-repeat: no-repeat;
background-attachment: fixed;}

.header {text-align: center
    font-family: "Times New Roman", Times, Serif
    ;}